# API y servidor
fastapi
uvicorn[standard]
httpx

# Base de datos y ORM
sqlalchemy
asyncpg
psycopg2-binary

# Autenticación
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

# Configuración desde entorno
pydantic[email]
pydantic-settings

# Sistema de recomendación
scikit-learn
scipy
pandas
joblib

alembic